<%= partial 'layouts/includes/header' %>
  <div class="lh-copy">
    <div>
      <a href="/series/<%= current_page.data.series %>" class="no-underline hover-black">
        <p class="upcase normal silver mb0"><%= current_page.data.series.upcase %></p>
      </a>
    </div>


    <div class="fr p i gray"><%= current_page.date.strftime('%b %d, %Y') %></div>
    <h1 class="f1 dib"><%= current_page.data.title %></h1>

    <%= yield %>

    <div class="mt5">
      <%= newsletter(headline: current_page.data.newsletter&.headline || "Subscribe for Updates", body: current_page.data.newsletter&.body || "Follow along, as I build out my first app for Slack.") %>
    </div>

  </div>
<%= partial 'layouts/includes/footer' %>
