<!-- COMMON TAGS -->
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title><%= "#{current_page.data.title}" || "Thomas McGoey-Smith" %></title>
<link rel="alternate" hreflang="en" href="<%= "#{config[:site]}" %>" />
<link rel="shortcut icon" type="image/x-icon" href="<%= "#{config[:site]}/favicon.ico" %>">
<link rel="alternate" type="application/rss+xml" title="Thomas McGoey-Smith" href="<%= "#{config[:site]}/rss.xml" %>">

<!-- Search Engine -->
<meta name="description" content="<%= current_page.data.blurb || "👋 Hi, I'm Thomas. During the day, I ship code to help make commerce better for everyone and at night, I'm seen running a bakery out of my apartment." %>">
<meta name="image" content="https://thomas.codes/assets/img/thomas.png">

<!-- Schema.org for Google -->
<meta itemprop="name" content="<%= current_page.data.title || "Thomas McGoey-Smith" %>">
<meta itemprop="description" content="<%= current_page.data.blurb || "👋 Hi, I'm Thomas. During the day, I ship code to help make commerce better for everyone and at night, I'm seen running a bakery out of my apartment." %>">
<meta itemprop="image" content="https://thomas.codes/assets/img/thomas.png">

<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="<%= current_page.data.title || "Thomas McGoey-Smith" %>">
<meta name="twitter:description" content="<%= current_page.data.blurb || "👋 Hi, I'm Thomas. During the day, I ship code to help make commerce better for everyone and at night, I'm seen running a bakery out of my apartment." %>">
<meta name="twitter:site" content="@tamcgoey">
<meta name="twitter:creator" content="@tamcgoey">
<meta name="twitter:image:src" content="https://thomas.codes/assets/img/thomas.png">

<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta name="og:title" content="<%= current_page.data.title || "Thomas McGoey-Smith" %>">
<meta name="og:description" content="<%= current_page.data.blurb || "👋 Hi, I'm Thomas. During the day, I ship code to help make commerce better for everyone and at night, I'm seen running a bakery out of my apartment." %>">
<meta name="og:image" content="https://thomas.codes/assets/img/thomas.png">
<meta name="og:url" content="https://thomas.codes">
<meta name="og:site_name" content="Thomas McGoey-Smith">
<meta name="og:type" content="website">
