<%= partial 'layouts/includes/header' %>
  <div class="fl w-100 mb3" style="background: <%= current_page.data.background_color || "#FFD700" %>;">
    <div class="w-90 w-50-ns w-50-l w-70-m center mw8">
      <h1 class="pt3 f1 dib lh-title fw9"><a href="<%= current_page.url %>" class="black no-underline"><%= current_page.data.title %></a></h1>
    </div>
  </div>

  <div class="fl w-100 mb2">
    <div class="w-90 w-50-ns w-50-l w-70-m center mw8 cf">
      <div class="lh-copy">
        <%= yield %>
      </div>
    </div>
  </div>

<%= partial 'layouts/includes/footer' %>