<nav class="fl pa3 tc mt5">
  <div class="fl w-100 mb4">
    <%= link_to 'ARTICLES', '/articles', class: 'black no-underline hover-gray f6' %>
    <%= link_to 'SERIES', '/series', class: 'mh2 black no-underline hover-gray f6' %>
    <%= link_to 'TALKS', '/talks', class: 'mr2 black no-underline hover-gray f6' %>
    <%= link_to 'NEWSLETTER', '/newsletter', class: 'black no-underline hover-gray f6' %>
  </div>
  <div class="fl w-100">
    <%= link_to 'CODE', 'https://github.com/tamcgoey', class: 'black no-underline hover-gray f6' %>
    <%= link_to 'BREAD', 'https://instagram.com/tamcgoey', class: 'black no-underline hover-gray f6 mh3' %>
    <%= link_to 'TWITTER', 'https://twitter.com/tamcgoey', class: 'black no-underline hover-gray f6 mr3' %>
    <%= link_to 'ABOUT', '/', class: 'black no-underline hover-gray f6' %>
  </div>
  <div class="fl w-100 sans-serif f6 gray i mv4">
    <p>&copy; Thomas McGoey-Smith (2014 - 2018). <%= link_to 'RSS', '/rss.xml' %>.</p>
  </div>
</nav>