<!doctype html>
<html>
  <head>
    <%= partial 'layouts/includes/meta' %>
    <%= stylesheet_link_tag "site" %>
  </head>
  <body class="sans-serif">
    <div class="fl w-100 bg-black pa3 ph4-ns">
      <div class="fl white"><%= link_to 'Thomas McGoey-Smith', '/', class: 'fw5 link no-underline white dim' %></div>

      <div class="fr">
        <%= link_to 'Articles', '/articles', class: 'link white dim mr2' %>
        <%= link_to 'Talks', '/talks', class: 'link white dim mr2 dn dib-ns' %>
        <%= link_to 'About', '/about', class: 'link white dim dn dib-ns' %>
      </div>
    </div>