<nav class="fl pa3">
  <a href="/"><%= image_tag 'thomas.png', alt: 'Thomas McGoey-Smith', class: 'mb4 w-80' %></a>
  <%= link_to 'HOME', '/', class: 'fl w-100 mb2 black no-underline hover-gray' %>
  <%= link_to 'ARTICLES', '/articles', class: 'fl w-100 mb2 black no-underline hover-gray' %>
  <%= link_to 'TALKS', '/talks', class: 'fl w-100 mb2 black no-underline hover-gray' %>
  <%= link_to 'NEWSLETTER', '/newsletter', class: 'fl w-100 mb5 black no-underline hover-gray' %>

  <%= link_to 'CODE', 'https://github.com/tamcgoey', class: 'fl w-100 mb2 black no-underline hover-gray' %>
  <%= link_to 'BREAD', 'https://instagram.com/tamcgoey', class: 'fl w-100 mb2 black no-underline hover-gray' %>
  <%= link_to 'TWITTER', 'https://twitter.com/tamcgoey', class: 'fl w-100 mb2 black no-underline hover-gray' %>
  <%= link_to 'ABOUT', '/about', class: 'fl w-100 mb2 black no-underline hover-gray' %>
</nav>