<%= partial 'layouts/includes/header' %>
  <div class="fl w-100 mb3" style="background: <%= current_page.data.background_color || "#FFD700" %>;">
    <div class="w-90 w-50-ns w-50-l w-70-m center mw8">
      <h1 class="pt3 f1 dib lh-title fw9"><a href="<%= current_page.url %>" class="black no-underline"><%= current_page.data.title %></a></h1>
    </div>
  </div>

  <div class="fl w-100 mb2">
    <div class="w-90 w-50-ns w-50-l w-70-m center mw8 cf">
      <div class="lh-copy">
        <%= yield %>
      </div>
    </div>
  </div>

  <div class="fl w-100 mt4">
    <div class="w-90 w-50-ns w-50-l w-70-m center mw8-ns cf">
      <h3 class="f3 mb2">Comments</h3>
      <script src="https://utteranc.es/client.js"
        repo="tamcgoey/comments"
        issue-term="title"
        theme="github-light"
        crossorigin="anonymous"
        async>
      </script>
    </div>
  </div>

<%= partial 'layouts/includes/footer' %>